.hero {
    z-index: 1;
    overflow: hidden;
    position: relative;
    padding: 150px 5px;
    backdrop-filter: blur(2px);
    background-image: radial-gradient(circle closest-corner at 50% 0, #f2f2f226, hsl(var(--secondary)));
}

.hero-container {
    z-index: 3;
    width: 100%;
    position: relative;
}

.glare {
    height: 1px;
    display: block;
    margin-bottom: -1px;
    background-image: linear-gradient(to right, #0000 10%, #fff 50%, #0000 90%);
}

.glare.inner {
    height: 2px;
    margin-bottom: -2px;
}

.window-outline {
    padding: 8px;
    overflow: hidden;
    border-radius: 24px;
    outline-offset: -1px;
    outline: 1px solid hsla(var(--accentPri));
    box-shadow: inset 0 0 8px #0006, 0 0 60px #0003, 0 30px 120px #000c;
    background-image: radial-gradient(circle farthest-side at 50% 0, #f2f2f233, #0000);
}

.window-main {
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    border: 1px solid hsla(var(--accentPri));
    box-shadow: inset 0 0 10px #0000001a, 0 0 12px #0006;
}

.shine {
    inset: 0%;
    height: 200%;
    opacity: .15;
    display: flex;
    filter: blur(12px);
    position: absolute;
    grid-column-gap: 24px;
    transform: rotate(15deg);
}

.shine * {
    background-color: hsl(var(--primary));
}

.shine .big {
    width: 64px;
}

.shine .small {
    width: 16px;
}

.window-bar {
    z-index: 5;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px 0 20px;
    backdrop-filter: blur(40px);
    border-radius: 16px 16px 0 0;
    justify-content: space-between;
    box-shadow: 0 10px 20px 4px hsl(var(--secondary));
    background-image: linear-gradient(to right, #f2f2f21a, #f2f2f280 50%, #f2f2f21a);
}

.window-bar .window-dots {
    display: flex;
    grid-column-gap: 10px;
}

.window-dots .dot {
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: 1px solid hsla(var(--accentSec));
}

.window-dots .dot.red {
    background-color: #f46b5d;
    box-shadow: 0 0 20px 2px #f46b5d;
}

.window-dots .dot.yellow {
    background-color: #f9bd4e;
    box-shadow: 0 0 20px 2px #f9bd4e;
}

.window-dots .dot.green {
    background-color: #57c353;
    box-shadow: 0 0 20px 2px #57c353;
}

.window-bar svg {
    width: 30px;
    opacity: .2;
    height: 30px;
}

.window-content {
    z-index: 5;
    display: flex;
    position: relative;
    align-items: stretch;
    grid-column-gap: 40px;
    padding: 10vw 6vw 30vw;
    flex-direction: column;
    justify-content: space-around;
    background-color: #101010b3;
}

.hero-content {
    z-index: 1;
    display: flex;
    position: relative;
    grid-row-gap: 70px;
    flex-direction: column;
}

.hero-content h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 90%;
    letter-spacing: -2px;
    align-self: flex-start;
    font-family: Neue Montreal, sans-serif;
    text-shadow: 0 5px 10px #0057ff26, 0 -5px 10px #ff5a001a, 0 -5px 25px hsla(var(--accentPri));
}

.hero-content p {
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 140%;
    align-self: flex-end;
    font-family: Neue Montreal, sans-serif;
}

.hero-content p a {
    font-weight: 500;
    color: hsl(var(--primary));
    text-shadow: 0 5px 10px #0057ff26, 0 -5px 10px #ff5a001a, 0 -5px 25px hsla(var(--accentPri));
}

.hero-content p a:hover {
    font-weight: 500;
    color: hsla(var(--accentPri));
}

.window-grain {
    inset: 0;
    z-index: 0;
    position: absolute;
    background-size: 200px;
    mix-blend-mode: overlay;
    background-position: 0 0;
    background-image: url('../../assets/images/grain.webp');
}

.hero-fade {
    z-index: 5;
    height: 300px;
    display: flex;
    inset: auto 0 0;
    padding-top: 60px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #10101000, hsl(var(--secondary)) 30%);
}

.hero-fade a svg {
    width: 40px;
    opacity: .5;
    height: 50px;
    display: block;
    color: hsl(var(--primary));
    animation: slideInDown 2s ease infinite;
}

@keyframes slideInDown {
    from {
        visibility: visible;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 991px) {
    .hero {
        padding: 90px 5px;
    }

    .window-content {
        padding: 70px 50px 170px;
    }

    .hero-content h2 {
        font-size: 4.5rem;
    }
    .hero-content p {
        font-size: 1.5rem;
    }

    .hero-fade {
        height: 200px;
        background-image: linear-gradient(to bottom, #10101000, hsl(var(--secondary)) 40%);
    }
}