.ring {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 9999;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transition-duration: 0.15s;
    transform: translate(-50%, -50%);
    transition-timing-function: ease-out;
    background-color: rgba(82, 163, 182, 0.5);
    will-change: width, height, transform, background-color;
}

.dot {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    z-index: 9999;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    background-color: #52A3B6;
    transform: translate(-50%, -50%);
}

.ring.hovered {
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-color: lightgray;
}

.dot.hovered {
    display: none;
}