.dock-bar {
  bottom: 0;
  z-index: 9;
  padding: 1px 12px;
  position: absolute;
  border-radius: 24px;
  margin: 0 auto .5rem;
  box-shadow: rgba(255, 255, 255, 0.17) 0px 0px 0px 1px inset;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.15));
}

.dock-bar ul {
  display: flex;
}

.icon {
  width: 55px;
  height: 55px;
  position: relative;
  cursor: url('../cursors/pointer.png'), pointer;
  transition: width, height, margin-top, cubic-bezier(0.25, 1, 0.5, 1) 100ms;
}

.icon:hover {
  width: 80px;
  height: 80px;
  margin-top: -25px;
}

.icon:hover + .icon {
  width: calc(80px + var(--dock-right, 0px));
  height: calc(80px + var(--dock-right, 0px));
  margin-top: calc(-20px + var(--dock-right, 0px) * -1);
}

.icon:hover + .icon + .icon {
  width: calc(70px + var(--dock-right, 0px));
  height: calc(70px + var(--dock-right, 0px));
  margin-top: calc(-10px + var(--dock-right, 0px) * -1);
}

.icon:has(+ .icon:hover){
  width: calc(80px + var(--dock-left, 0px));
  height: calc(80px + var(--dock-left, 0px));
  margin-top: calc(-20px + var(--dock-left, 0px) * -1);
}

.icon:has(+ .icon + .icon:hover){
  width: calc(70px + var(--dock-left, 0px));
  height: calc(70px + var(--dock-left, 0px));
  margin-top: calc(-10px + var(--dock-left, 0px) * -1);
}

.icon img {
  width: 100%;
  height: 100%;
}

.icon a {
  width: 100%;
  height: 100%;
  color: #fff;
  display: block;
  overflow: hidden;
  border-radius: 12px;
}

.icon:hover .tooltip,
.icon:focus-within .tooltip {
  opacity: 1;
}

.tooltip {
  left: 50%;
  top: -40px;
  opacity: 0;
  width: auto;
  display: block;
  padding: 4px 8px;
  position: absolute;
  white-space: nowrap;
  border-radius: 14px;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.58);
  transition: ease-in opacity 100ms;
  box-shadow:rgba(0, 0, 0, 0.17) 0px 12px 8px 1px;
}

@media only screen and (min-width: 800px) {
  .mobile-message {
    display: flex;
  }
}