.stat-bar {
    z-index: 9;
    width: 100%;
    height: 50px;
    display: flex;
    position: fixed;
    padding: 1px 12px;
    align-items: center;
    inset: 0 auto auto 0;
    justify-content: space-between;
    box-shadow: rgba(255, 255, 255, 0.17) 0px 0px 0px 1px inset;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.15));
}

.stat-bar div {
    gap: 10px;
    display: flex;
    align-items: center;
}

.stat-bar div span {
    font-size: .9rem;
}