.habout {
    z-index: 1;
    width: 100%;
    display: grid;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    min-height: 100dvh;
    place-items: center;
    backdrop-filter: blur(2px);
}

.paper {
    width: 300px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    transform: rotate(10deg);
    transform-origin: top left;
    box-shadow: 3px 3px 2px hsla(var(--accentPri));
    background: linear-gradient(135deg, hsl(var(--secondary)), 30%, hsl(var(--accent)));
}

.paper h2 {
    margin: auto;
    color: hsl(var(--accent));
    font-size: clamp(.5rem, 4vw, 2rem);
}

.pin {
    left: 20px;
    width: 60px;
    height: 50px;
    position: absolute;
}

.shadow {
    top: 18px;
    left: -8px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(hsl(var(--secondary)), 20%, hsl(var(--accent)));
}

.metal {
    top: 15px;
    width: 5px;
    height: 20px;
    position: absolute;
    transform: rotate(50deg);
    border-radius: 0 0 30% 30%;
    transform-origin: bottom left;
    border-bottom: 1px solid #808080;
    background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
}

.bottom-circle {
    right: 15px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    background-color: #d02627;
    background: radial-gradient(circle at bottom right, #fc7e7d, 25%,#9e0608, 90%,#d02627);
}

.bottom-circle::before {
    top: 0;
    left: -2px;
    width: 20px;
    content: '';
    height: 30px;
    position: absolute;
    transform: rotate(55deg);
    transform-origin: 100% 100%;
    background: linear-gradient(to right,#9e0608, 30%, #d02627, 90%, #fc7e7d);
}

.bottom-circle::after {
    content: '';
    top: -5px;
    width: 25px;
    right: -10px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle at right, #fc7e7d, 30%, #d02627,#9e0608 80%);
}