.habout {
    z-index: 1;
    width: 100%;
    display: grid;
    padding: 50px 0;
    overflow: hidden;
    position: relative;
    min-height: 100dvh;
    place-items: center;
    backdrop-filter: blur(2px);
}

.habout-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.habout-img {
    position: relative;
    width: 400px;
    height: 400px;
}

.habout-img img {
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.habout-img img:first-child {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: grayscale(100%);
}

.habout-text {
    width: 400px;
    height: 500px;
    position: relative;
    background: hsla(var(--accentPri));
    box-shadow: 0px 0px 5px 0px hsla(var(--accentSec));
}

.habout-text::before {
    left: 45px;
    width: 2px;
    content: '';
    height: 100%;
    position: absolute;
    background: hsl(var(--accent));
}

.habout-text .lines {
    width: 100%;
    height: 100%;
    background-image: repeating-linear-gradient(hsl(var(--primary)) 0px, hsl(var(--primary)) 24px, hsl(var(--secondary)) 25px);
}

.habout-text .lines div {
    top: 20px;
    left: 60px;
    right: 10px;
    outline: none;
    overflow: hidden;
    line-height: 26px;
    position: absolute;
    text-overflow: ellipsis;
    text-transform: capitalize;
    color: hsl(var(--secondary));
}

.habout-text .lines div::first-line {
    font-weight: bold;
}

.habout-text .holes {
    left: 10px;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background: hsl(var(--primary));
    box-shadow: inset 0px 0px 2px 0px hsl(var(--secondary));
}

.habout-text .holes.top {
    top: 10%;
}

.habout-text .holes.middle {
    top: 50%;
}

.habout-text .holes.bottom {
    bottom: 10%;
}

/* .paper {
    width: 300px;
    height: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    transform: rotate(10deg);
    transform-origin: top left;
    box-shadow: 3px 3px 2px hsla(var(--accentPri));
    background: linear-gradient(135deg, hsl(var(--secondary)), 30%, hsl(var(--accent)));
}

.paper h2 {
    margin: auto;
    color: hsl(var(--primary));
    font-size: clamp(.5rem, 4vw, 2rem);
}

.pin {
    left: 20px;
    width: 60px;
    height: 50px;
    position: absolute;
}

.shadow {
    top: 18px;
    left: -8px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(hsl(var(--secondary)), 20%, hsl(var(--accent)));
}

.metal {
    top: 15px;
    width: 5px;
    height: 20px;
    position: absolute;
    transform: rotate(50deg);
    border-radius: 0 0 30% 30%;
    transform-origin: bottom left;
    border-bottom: 1px solid #808080;
    background: linear-gradient(to right, #808080, 40%, #eae8e8, 50%, #808080);
}

.bottom-circle {
    right: 15px;
    width: 35px;
    height: 35px;
    position: absolute;
    border-radius: 50%;
    background-color: hsl(var(--secondary));
    background: radial-gradient(circle at bottom right, hsla(var(--accentPri)), 25%,hsl(var(--accent)), 90%,hsl(var(--secondary)));
}

.bottom-circle::before {
    top: 0;
    left: -2px;
    width: 20px;
    content: '';
    height: 30px;
    position: absolute;
    transform: rotate(55deg);
    transform-origin: 100% 100%;
    background: linear-gradient(to right,hsl(var(--accent)), 30%, hsl(var(--secondary)), 90%, hsla(var(--accentPri)));
}

.bottom-circle::after {
    content: '';
    top: -5px;
    width: 25px;
    right: -10px;
    height: 25px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle at right, hsla(var(--accentPri)), 30%, hsl(var(--secondary)),hsl(var(--accent)) 80%);
} */