.dock-bar {
  width: 90%;
  z-index: 99;
  height: 100%;
  display: flex;
  inset: 0 0 auto;
  position: fixed;
  max-height: 3.5rem;
  margin: .5rem auto 0;
  pointer-events: none;
  align-items: flex-start;
  justify-content: space-between;
}

.dock-background {
  width: 100%;
  z-index: 10;
  height: 5rem;
  display: flex;
  inset: 0 0 auto;
  position: fixed;
  background-image: linear-gradient(#0006, #0000);
}

.dock-logo {
  z-index: 9;
  align-self: center;
  pointer-events: auto;
}

.dock-links {
  z-index: 9;
  height: 48px;
  display: none;
  padding: 0 0.4rem;
  width: max-content;
  position: relative;
  align-items: center;
  border-radius: 24px;
  pointer-events: auto;
  backdrop-filter: blur(15px);
  justify-content: space-between;
  border: 1px solid hsla(var(--accentPri));
  background-color: hsla(var(--accentSec));
  box-shadow: 0 10px 25px hsla(var(--accentSec));
  transition: box-shadow 1s cubic-bezier(.23, 1, .32, 1), border .6s cubic-bezier(.165, .84, .44, 1);
}

.dock-links:not(:last-child):has(a.active) {
  border-color: linear-gradient(to right, hsl(var(--secondary)) 10%, hsl(var(--primary)) 50%, hsl(var(--secondary)) 90%);
}

.dock-links:last-child {
  display: flex;
  height: max-content;
  flex-direction: column;
}

.dock-links a {
  width: auto;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 9999px;
  padding: 0.5rem 1.2rem;
  justify-content: center;
  color: hsl(var(--primary));
  transition: all .15s cubic-bezier(.4, 0, .2, 1);
}

.dock-links a span {
  font-weight: 500;
  font-size: .875rem;
  white-space: nowrap;
}

.dock-links a:has(svg) {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.6rem;
}

.dock-links a[data-title]:hover::after {
  display: none;
  margin: 0 auto;
  bottom: -2.3rem;
  width: max-content;
  position: absolute;
  font-size: .875rem;
  line-height: 1.25rem;
  padding: .25rem .75rem;
  content: attr(data-title);
  color: hsl(var(--secondary));
  border-radius: var(--radius);
  background: hsl(var(--primary));
}

.dock-links:not(:last-child) a.active::before {
  top: 0;
  width: 24px;
  height: 4px;
  content: '';
  margin: -8px 0 0;
  position: absolute;
  border-radius: 2px;
  filter: brightness(100);
  background-color: hsl(var(--primary));
  box-shadow: 0 2px 25px 2px hsl(var(--primary));
}

.dock-links a:hover,
.dock-links a.active {
  color: hsl(var(--primary));
  background-color: hsla(var(--accentPri));
}

.dock-links:not(:last-child) a:not(.active) {
  opacity: .5;
}

.dock-links a svg {
  width: 1rem;
  height: 1rem;
  cursor: inherit;
  vertical-align: middle;
}

.dock-links a:has(svg):hover {
  animation: 1s rubberBand linear;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@media (min-width: 768px) {
  .dock-bar {
    align-items: center;
  }

  .dock-links:last-child {
    height: 48px;
    flex-direction: row;
  }

  .dock-links:last-child {
    box-shadow: none;
    background: transparent;
  }

  .dock-links,
  .dock-links a[data-title]:hover::after {
    display: flex;
  }
}