* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all .5s ease;
  cursor: url('./assets/cursors/arrow.png'), auto;
}

:root {
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  color-scheme: light dark;
  background-color: #090909;
  -webkit-text-size-adjust: 100%;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;

}

::selection {
  background-color: #090909;
  color: rgba(255, 255, 255, 0.87);
}

.text {
  cursor: url('./assets/cursors/text.png'), text;
}

.loading {
  cursor: url('./assets/cursors/loading.png'), wait;
}

a,
a *,
button,
.pointer {
  cursor: url('./assets/cursors/pointer.png'), pointer;
}

.preloader {
  inset: 0;
  display: grid;
  width: 100dvw;
  z-index: 9999;
  height: 100dvh;
  position: fixed;
  place-items: center;
  background-color: #090909;
}

body {
  width: 100%;
  height: 100dvh;
  position: relative;
  overflow-x: hidden;
}

main,
#root {
  width: 100%;
  display: grid;
  height: 100dvh;
  position: relative;
  place-items: center;
}

main > img {
  inset: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  position: fixed;
  object-fit: cover;
}