* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  cursor: url('./assets/cursors/arrow.png'), auto;
  font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --radius: 0.5rem;
  --ring: 0 0% 3.9%;
  --card: 0 0% 100%;
  --primary: 0 0% 9%;
  --input: 0 0% 89.8%;
  --muted: 0 0% 96.1%;
  --border: 0 0% 89.8%;
  --accent: 0 0% 96.1%;
  --popover: 0 0% 100%;
  --background: 0 0% 100%;
  --secondary: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --foreground: 210 11.1% 3.53%;
  --muted-foreground: 0 0% 45.1%;
  --primary-foreground: 0 0% 98%;
  --secondary-foreground: 0 0% 9%;
  --card-foreground: 210 11.1% 3.53%;
  --destructive-foreground: 0 0% 98%;
  --popover-foreground: 210 11.1% 3.53%;
}

.dark {
  --ring: 0 0% 83.1%;
  --input: 0 0% 14.9%;
  --muted: 0 0% 14.9%;
  --primary: 0 0% 98%;
  --border: 0 0% 14.9%;
  --accent: 0 0% 14.9%;
  --foreground: 0 0% 98%;
  --card: 210 11.1% 3.53%;
  --secondary: 0 0% 14.9%;
  --popover: 210 11.1% 3.53%;
  --card-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --background: 210 11.1% 3.53%;
  --accent-foreground: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --muted-foreground: 0 0% 63.9%;
  --popover-foreground: 0 0% 98%;
  --secondary-foreground: 0 0% 98%;
  --destructive-foreground: 0 0% 98%;
}

.text {
  cursor: url('./assets/cursors/text.png'), text;
}

.loading {
  cursor: url('./assets/cursors/loading.png'), wait;
}

a,
button,
.pointer {
  cursor: url('./assets/cursors/pointer.png'), pointer;
}

body {
  width: 100%;
  min-height: 100dvh;
  transition: all .3s;
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

#root {
  width: 90%;
  height: 50dvh;
  margin: 0 auto;
}


/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}