* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all .5s ease;
  cursor: url('./assets/cursors/arrow.png'), auto;
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
}

:root {
  --primary: 0 0% 95%;
  --accent: 0 0% 14.9%;
  --secondary: 0 0% 3.5%;
  --accentSec: 0 10% 10% 50%;
  --accentPri: 155, 100%, 100%, 25%;
}

::selection {
  color: hsl(var(--primary));
  background-color: hsl(var(--secondary));
}

.text {
  cursor: url('./assets/cursors/text.png'), text;
}

.loading {
  cursor: url('./assets/cursors/loading.png'), wait;
}

a,
a *,
button,
.pointer {
  cursor: url('./assets/cursors/pointer.png'), pointer;
}

.preloader {
  inset: 0;
  display: grid;
  width: 100dvw;
  z-index: 9999;
  height: 100dvh;
  position: fixed;
  place-items: center;
  background-color: hsl(var(--secondary));
}

body {
  width: 100%;
  position: relative;
  min-height: 100dvh;
  overflow-x: hidden;
  background-color: hsl(var(--secondary));
}

main,
#root {
  width: 90%;
  z-index: 9;
  margin: 0 auto;
  position: relative;
  min-height: 100dvh;
  color: hsl(var(--primary));
  background: hsla(var(--accentSec));
}

main {
  width: 100%;
  z-index: -1;
  height: 100%;
}